@model ProjetoMVC.DTO.EquipeModelo
@{
    ViewData["Title"] = "Home Page";

    string Esconder()
    {
        return string.IsNullOrEmpty(Model.Equipe?.IdEquipe.ToString()) ? "none" : "flex";
    }
    ScuderiaModel GetScuderia()
    {
        var retornoScuderia = new ScuderiaModel();
        if (Model.Equipe?.IdEquipe.ToString() == "1")
        {
            retornoScuderia.ImagemPilotos  = "/img/Pilotos_RedBull.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_RedBull.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #0008ff";
        }
        else if (Model.Equipe?.IdEquipe.ToString() == "2")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Mercedes.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Mercedes.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #00fffb";
        }
        else if (Model.Equipe?.IdEquipe.ToString() == "3")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_McLaren.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_McLaren.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #ff5900";
        }        
        if (Model.Equipe?.IdEquipe.ToString() == "4")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_VisaRB.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_VisaRB.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #0062ff";
        }
        if (Model.Equipe?.IdEquipe.ToString() == "5")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Stake.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Stake.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #00ff40";
        }
        if (Model.Equipe?.IdEquipe.ToString() == "6")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_AstonMartin.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_AstonMartin.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #83c3a7";
        }
        if (Model.Equipe?.IdEquipe.ToString() == "7")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Haas.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Haas.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #000000";
        }
        if (Model.Equipe?.IdEquipe.ToString() == "8")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Alpine.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Alpine.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #0055ff";
        }
        if (Model.Equipe?.IdEquipe.ToString() == "9")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Willians.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Willians.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #0055ff";
        }
        if (Model.Equipe?.IdEquipe.ToString() == "10")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Ferrari.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Ferrari.jpg";
            retornoScuderia.CorScuderia = "3px 5px 5px 1px #ff0000";
        }
        return retornoScuderia;
    }
}
        <div id="loading" class="loading">
            <img id="" src="/img/Loading_animation.gif" class="imgLoading" alt="logo" />
        </div>
        <h1 class="titulo" style="display: none"><img id="" src="/img/Logo_F1.png" alt="logo" class="imgLogoF1"/></h1>
        <div class="imgContainerGeral" >
            <div id="containerPanel" class="containerPanel" style="display: @Esconder(); box-shadow: @GetScuderia().CorScuderia">
                <div class="informacoes">
                    <div class="card-img-top">
                        <img id="" src="@GetScuderia().ImagemScuderia" class="imgLogoScuderia" alt="logo" />
                        <img id="" src="@GetScuderia().ImagemPilotos" class="imgPilotos" alt="logo" />
                    </div>
                    <div class="container-geral-dados">
                        <div class="container-dados">
                            <strong>Equipe: </strong>
                            <span>@Model.Equipe?.NomeEquipe</span>
                            <strong>Chefe:  </strong>
                            <span>@Model.Chefes?.NomeChefe</span>
                    @{
                        if (Model.Pilotos != null)
                        {
                            foreach (var piloto in Model.Pilotos)
                            {
                                <strong>Piloto: </strong>
                                <span>@piloto.NomePiloto, @piloto.NacionalidadePiloto</span>
                            }
                        }                       

                    }
                            <strong>Carro:  </strong>
                            <span>@Model.Carros?.ModeloCarro</span>
                            <strong>Construtor: </strong>
                            <span>@Model.Carros?.FabricanteMotor</span>
                        </div>
                        <div class="container-icones">
                            <strong><img id="" src="~/img/Ico_Trofeu.png" class="" alt="logo" /> Títulos Construtores:</strong>
                            <span>@Model.Conquistas?.QtdTitulosConstrutores</span>
                            <strong><img id="" src="~/img/Ico_Trofeu.png" class="" alt="logo" /> Títulos Pilotos:</strong>
                            <span>@Model.Conquistas?.QtdTitulosPilotos</span>
                            <strong><img id="" src="~/img/Ico_Bandeirada.png" class="" alt="logo" /> GrandesPremios:</strong>
                            <span>@Model.Conquistas?.QtdGrandesPremios</span>
                            <strong><img id="" src="~/img/Ico_Vitorias.png" class="" alt="logo" /> Vitórias:</strong>
                            <span>@Model.Conquistas?.QtdVitorias</span>
                            <strong><img id="" src="~/img/Ico_Podios.png" class="" alt="logo" /> Pódios:</strong>
                            <span>@Model.Conquistas?.QtdPodios</span>
                            <strong><img id="" src="~/img/Ico_PolePosition.png" class="" alt="logo" /> Pole Position:</strong>
                            <span>@Model.Conquistas?.QtdPolePosition</span>
                            <strong><img id="" src="~/img/Ico_VoltaRapida.png" class="" alt="logo" /> Voltas Rápidas:</strong>
                            <span>@Model.Conquistas?.QtdVoltasRapidas</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imgContainerDireita">
                <div>
                    <img id="Alpine" src="img/F1_Alpine.png" class="imgContainer" alt="logo" onClick="OpenPag(8)"/>
                </div>
                <div>
                    <img id="AstonMartin" src="img/F1_AstonMartin.png" class="imgContainer" alt="logo" onClick="OpenPag(6)" />
                </div>
                <div>
                    <img src="img/F1_Mercedes.png" class="imgContainer" alt="logo" onClick="OpenPag(2)" />
                </div>
                <div>
                    <img src="img/F1_RedBull.png" class="imgContainer" alt="logo" onClick="OpenPag(1)" />
                </div>
                <div>
                    <img src="img/F1_Williams.png" class="imgContainer" alt="logo" onClick="OpenPag(9)" />
                </div>
            </div>
            <div class="imgContainerEsquerda">
                <div>
                    <img src="img/F1_Ferrari.png" class="imgContainer" alt="logo" onClick="OpenPag(10)" />
                </div>
                <div>
                    <img src="img/F1_Haas.png" class="imgContainer" alt="logo" onClick="OpenPag(7)" />
                </div>
                <div>
                    <img src="img/F1_Mclaren.png" class="imgContainer" alt="logo" onClick="OpenPag(3)" />
                </div>
                <div>
                    <img src="img/F1_Stake.png" class="imgContainer" alt="logo" onClick="OpenPag(5)" />
                </div>
                <div>
                    <img src="img/F1_VisaRB.png" class="imgContainer" alt="logo" onClick="OpenPag(4)" />
                </div>
            </div>
            
        </div>
         
