@model EquipesModel
@{
    ViewData["Title"] = "Home Page";
    string BoxShadow()
    {
        var corBoxShadow = "";
        if (Model.EquipeID == "1")
        {
            corBoxShadow = "0 15px 15px 0 #0008ff";
        }
        if (Model.EquipeID == "2")
        {
            corBoxShadow = "0 15px 15px 0 #00fffb";
        }
        if (Model.EquipeID == "3")
        {
            corBoxShadow = "0 15px 15px 0 #ff5900";
        }
        if (Model.EquipeID == "4")
        {
            corBoxShadow = "0 15px 15px 0 #0062ff";
        }
        if (Model.EquipeID == "5")
        {
            corBoxShadow = "0 15px 15px 0 #00ff40";
        }
        if (Model.EquipeID == "6")
        {
            corBoxShadow = "0 15px 15px 0 #00ff40";
        }
        if (Model.EquipeID == "7")
        {
            corBoxShadow = "0 15px 15px 0 #000000";
        }
        if (Model.EquipeID == "8")
        {
            corBoxShadow = "0 15px 15px 0 #0055ff";
        }
        if (Model.EquipeID == "9")
        {
            corBoxShadow = "0 15px 15px 0 #0055ff";
        }
        if (Model.EquipeID == "10")
        {
            corBoxShadow = "0 15px 15px 0 #ff0000";
        }
        return corBoxShadow;
    }
    string Esconder()
    {
        //
        //
        ///

        // Verifica se o elemento foi encontrado
        
        return string.IsNullOrEmpty(Model.EquipeID) ? "none" : "block";
    }
}

<html5>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <h1>Equipes Fórmula 1 2024</h1>

        <div id="containerPanel" class="containerPanel cor-alpine" style="display: @Esconder(); box-shadow: @BoxShadow()">
            <div class="informacoes">
                <strong>Equipe: </strong>
                @Model.NomeEquipe
                <strong>Chefe:  </strong>
                @Model.NomeChefe
                <strong>Piloto: </strong>
                @Model.NomePiloto1, @Model.NacionalidadePiloto1
                <strong>Piloto: </strong>
                @Model.NomePiloto2, @Model.NacionalidadePiloto2
                <strong>Carro:  </strong>
                @Model.Modelo
                <strong>Construtor: </strong>
                @Model.Construtor
                <strong>Motor: </strong>
                @Model.Motor

            </div>
            
            @* <img class="imgCard" src="img/FundoBranco.png" alt="Avatar" > *@
        </div>
        <div class="imgContainerGeral">
            <div class="imgContainerDireita">
                <div>
                    <img id="Alpine" src="img/F1_Alpine.png" class="imgContainer" alt="logo" onClick="OpenPag(8)"/>
                </div>
                <div>
                    <img id="AstonMartin" src="img/F1_AstonMartin.png" class="imgContainer" alt="logo" onClick="OpenPag(6)" />
                </div>
                <div>
                    <img src="img/F1_Mercedes.png" class="imgContainer" alt="logo" onClick="OpenPag(2)" />
                </div>
                <div>
                    <img src="img/F1_RedBull.png" class="imgContainer" alt="logo" onClick="OpenPag(1)" />
                </div>
                <div>
                    <img src="img/F1_Williams.png" class="imgContainer" alt="logo" onClick="OpenPag(9)" />
                </div>
            </div>
            <div class="imgContainerEsquerda">
                <div>
                    <img src="img/F1_Ferrari.png" class="imgContainer" alt="logo" onClick="OpenPag(10)" />
                </div>
                <div>
                    <img src="img/F1_Haas.png" class="imgContainer" alt="logo" onClick="OpenPag(7)" />
                </div>
                <div>
                    <img src="img/F1_Mclaren.png" class="imgContainer" alt="logo" onClick="OpenPag(3)" />
                </div>
                <div>
                    <img src="img/F1_Stake.png" class="imgContainer" alt="logo" onClick="OpenPag(5)" />
                </div>
                <div>
                    <img src="img/F1_VisaRB.png" class="imgContainer" alt="logo" onClick="OpenPag(4)" />
                </div>
            </div>
            
        </div>

        <script src="~/js/site.js"></script>
    </body>
</html5>
