@model EquipesModel
@{
    ViewData["Title"] = "Home Page";

    string Esconder()
    {
        return string.IsNullOrEmpty(Model.EquipeID) ? "none" : "flex";
    }
    ScuderiaModel GetScuderia()
    {
        var retornoScuderia = new ScuderiaModel();
        if (Model.EquipeID == "1")
        {
            retornoScuderia.ImagemPilotos  = "/img/Pilotos_RedBull.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_RedBull.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #0008ff";
        }
        else if (Model.EquipeID == "2")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Mercedes.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Mercedes.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #00fffb";
        }
        else if (Model.EquipeID == "3")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_McLaren.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_McLaren.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #ff5900";
        }        
        if (Model.EquipeID == "4")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_VisaRB.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_VisaRB.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #0062ff";
        }
        if (Model.EquipeID == "5")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Stake.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Stake.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #00ff40";
        }
        if (Model.EquipeID == "6")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_AstonMartin.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_AstonMartin.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #83c3a7";
        }
        if (Model.EquipeID == "7")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Haas.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Haas.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #000000";
        }
        if (Model.EquipeID == "8")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Alpine.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Alpine.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #0055ff";
        }
        if (Model.EquipeID == "9")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Willians.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Willians.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #0055ff";
        }
        if (Model.EquipeID == "10")
        {
            retornoScuderia.ImagemPilotos = "/img/Pilotos_Ferrari.jpg";
            retornoScuderia.ImagemScuderia = "/img/Scuderia_Ferrari.jpg";
            retornoScuderia.CorScuderia = "0 15px 15px 0 #ff0000";
        }
        return retornoScuderia;
    }

    
}

<html5>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <h1>Equipes Fórmula 1 2024</h1>       
            @* <img class="imgCard" src="img/FundoBranco.png" alt="Avatar" > *@        
        <div class="imgContainerGeral">
            <div id="containerPanel" class="containerPanel" style="display: @Esconder(); box-shadow: @GetScuderia().CorScuderia">
                <div class="informacoes">
                    <div class="card-img-top">
                        <img id="" src="@GetScuderia().ImagemScuderia" class="imgLogoScuderia" alt="logo" />
                        <img id="" src="@GetScuderia().ImagemPilotos" class="imgPilotos" alt="logo" />
                    </div>
                    <div class="container-geral-dados">
                        <div class="container-dados">
                            <strong>Equipe: </strong>
                            <span>@Model.NomeEquipe</span>
                            <strong>Chefe:  </strong>
                            <span>@Model.NomeChefe</span>
                            <strong>Piloto: </strong>
                            <span>@Model.NomePiloto1, @Model.NacionalidadePiloto1</span>
                            <strong>Piloto: </strong>
                            <span>@Model.NomePiloto2, @Model.NacionalidadePiloto2</span>
                            <strong>Carro:  </strong>
                            <span>@Model.Modelo</span>
                            <strong>Construtor: </strong>
                            <span>@Model.Construtor</span>
                            <strong>Motor: </strong>
                            <span>@Model.Motor</span>
                        </div>
                        <div class="container-icones">
                            <strong><img id="" src="~/img/Ico_Trofeu.png" class="" alt="logo" /> Títulos:</strong>
                            <span>82</span>
                            <strong><img id="" src="~/img/Ico_Bandeirada.png" class="" alt="logo" /> Corridas:</strong>
                            <span>75</span>
                            <strong><img id="" src="~/img/Ico_Pilotos.png" class="" alt="logo" /> Pilotos Históricos:</strong>
                            <span>Lewis, João, Leclerc</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imgContainerDireita">
                <div>
                    <img id="Alpine" src="img/F1_Alpine.png" class="imgContainer" alt="logo" onClick="OpenPag(8)"/>
                </div>
                <div>
                    <img id="AstonMartin" src="img/F1_AstonMartin.png" class="imgContainer" alt="logo" onClick="OpenPag(6)" />
                </div>
                <div>
                    <img src="img/F1_Mercedes.png" class="imgContainer" alt="logo" onClick="OpenPag(2)" />
                </div>
                <div>
                    <img src="img/F1_RedBull.png" class="imgContainer" alt="logo" onClick="OpenPag(1)" />
                </div>
                <div>
                    <img src="img/F1_Williams.png" class="imgContainer" alt="logo" onClick="OpenPag(9)" />
                </div>
            </div>
            <div class="imgContainerEsquerda">
                <div>
                    <img src="img/F1_Ferrari.png" class="imgContainer" alt="logo" onClick="OpenPag(10)" />
                </div>
                <div>
                    <img src="img/F1_Haas.png" class="imgContainer" alt="logo" onClick="OpenPag(7)" />
                </div>
                <div>
                    <img src="img/F1_Mclaren.png" class="imgContainer" alt="logo" onClick="OpenPag(3)" />
                </div>
                <div>
                    <img src="img/F1_Stake.png" class="imgContainer" alt="logo" onClick="OpenPag(5)" />
                </div>
                <div>
                    <img src="img/F1_VisaRB.png" class="imgContainer" alt="logo" onClick="OpenPag(4)" />
                </div>
            </div>
            
        </div>
        <script  src="~/js/site.js"> </script>
        
    </body>
</html5>
